body {
  position: relative;
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #28293d;
}

.container {
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center;
  padding: 20px; /* Ajout de marge autour du contenu */
  border-radius: 20px;
  color: #fff;
  background-color: #c5d2ec;
  width: 100%; /* Largeur de 100% de la largeur de la page */
  height: 60%
}

.logo {
  display: none; /* Cache le logo */
}

.login-form {
  width: 70%;
}

h2 {
  margin: 0 0 10px 0; /* Ajout de marge en bas */
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
}

input[type="email"] {
  width: 100%;
  height: 3.5vh;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 4vh;
}

/* Modifier le sélecteur pour correspondre à votre champ d'e-mail de vérification */
input[type="email"] + label,
input[type="email"] + p {
  display: block;
  margin-top: 0.5em;
  font-size: 1em;
  color: #666; /* Couleur du texte pour les étiquettes */
}

button {
  width: 70%; /* Ajuste la largeur du bouton */
  height: 3.5vh;
  margin-top: 4vh;
  background-color: #1766f9;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #3d7ef7;
}
