{% extends '/public/base.html.twig' %}

{% block title %}
  FAQ
{% endblock %}

{% block body %}

<div class= "faq">
  <p class="pourquoiNous"> FAQ </p>
  <div class="accordion">
    <div class="accordion-container">
      {% for faq in faqs %}
        <div class="questionsFaq">
          <div class="accordion-header" aria-expanded="false">
              <i class="fa fa-angle-right"></i> {{ faq.question }}
            </div>
          <div class="accordion-content">{{ faq.answer }}</div>
        </div>
      {% endfor %}
    </div>

</div>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/FAQ/style.css">
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script type="module" src="assets/Resource/js/FAQ/script.js"></script>
{% endblock %}
