{% extends '/public/base.html.twig' %}

{% block title %}
  Verify Email
{% endblock %}

{% block navbar %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/VerifyEmail/style.css"> {# Utilise le même fichier CSS que la page de login #}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="login-container">
      <div class="login-form">
        <h2>Email Verification</h2>
        <form action="{{ path('verify_email') }}" method="POST">
          <label >Enter the code here</label>
          <div class="form-group">
            {% if error is defined %}
              <label for="email">{{ error }}</label>
            {% endif %}
            <label>
              <input type="text" name='code_email' class="form-control" required>
            </label>
          </div>
            <button class="btn btn-primary">Verify</button>
        </form>
      </div>
    </div>
    <div class="logo">
      <h1>EVENT IT</h1>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
