/* Additional styles for the contact page */
.container {
    text-align: center;
}
p{
    color: white;
}
h1 {
    font-size: 2em;
    color:white ;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
}

.button {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.button:hover {
    background-color: #ff8ec7;
}


/* Add to style.css */

/* Adjust these styles as necessary to fit the design in the image provided */
.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input[type="text"] {
    width: 48%; /* Adjust width so two inputs fit in one row with some space between them */
}

input, textarea, .file-upload {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    background-color: #333;
    color: #fff;
}

textarea {
    min-height: 120px; /* Adjust height as necessary */
}

.file-upload {
    position: relative;
    cursor: pointer;
}

.file-upload input[type="file"] {
    opacity: 0; /* Hide the default file input */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.checkbox {
    margin: 10px 0;
}

.checkbox label {
    cursor: pointer;
}

.button {
    /* Button styles as defined previously */
}
