{% if cookieSet %}
    <div class="cookie-popup">
        <div class="cookie-text">
        <p id="cookie-text">{{  'event_it.ui.cookies.description'|trans  }}</p>
        </div>
        <div class="cookie-buttons">
            <span id="accept-cookies" class="cookie-button decline" >{{ "event_it.ui.button.decline"|trans }}</span>
            <span id="accept-cookies" class="cookie-button validate" >{{ 'event_it.ui.button.accept'|trans }}</span>
        </div>
    </div>
{% endif %}