body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #28293d;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 3.5vh;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 4vh;
}

.register-container {
  grid-column: 2 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-color: #c5d2ec;
  height: 85vh;
  margin-top: 12.5vh;
}

.logo {
  display: flex;
  grid-column: 7 / span 6;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #1751bb;
  background-color: #c5d2ec;
  background: linear-gradient(#c5d2ec 50%, #fff 50%);
  font-size: 2em;
  height: 100vh;
}

.logo-text {
  position: relative;
  margin: 0;
  font-size: 5vw;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(#fff 50%, #c5d2ec 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div {
  margin: 10px 0;
  grid-template-columns: 1fr 1fr;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

.register-form {
  width: 70%;
}

button {
  width: 50%;
  height: 3.5vh;
  margin-top: 4vh;
  background-color: #1766f9;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #3d7ef7;
}
