body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #28293D;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  box-sizing: border-box;
}

.p {
  color: white;
}

.acceuil {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 1;
}

.bienvenue {
  font-size: 30px;
  font-weight: 600;
  line-height: 36.31px;
  text-align: center;
  color: #fff;
}

.nomEventIt{

  font-family: KoPub Batang;
font-size: 128px;
font-weight: 400;
line-height: 140.03px;
text-align: center;
  color: #fff;

  }

.boutonPlus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 73px;
  top: 664px;

  margin-bottom: 20px;
  border-radius: 9999px;
  opacity: 0px;
  background-color: #1766F9;


}

.boutonPlusHome{

position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: none;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.boutonPlusHome:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}







.englobeCarrousel{
  gap: 0px;
  opacity: 0px;

}

.pourquoiNous{

  font-size: 64px;
  font-weight: 500;
  line-height: 77.45px;
  text-align: center;
  color: #FFFFFF;


}

.carousel {
position: relative;
max-width: 600px; /* À ajuster. */
margin: auto;
overflow: visible;
}

.slides .slide {
display: none;
width: 100%;
}

.slides .slide img {
width: 100%;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: auto;
padding: 16px;
color: white;
font-weight: bold;
transition: 0.6s ease;
user-select: none;
}

.next {
right: 0;
}

.prev {
left: 0;
}

.description{
  margin-top: 100px; /* Ajoute un espace de 100px en haut de cette div*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.sous_description{
  margin-left: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.img_des{
  width: 350px; /* Réduit la largeur de l'image à 300px */
  height: auto; /* Ajuste la hauteur automatiquement pour conserver le ratio */
  margin-bottom: 12%;
  border-radius: 7%;
}


.img_text_desc{

  padding: 10px;
  border-radius: 7%;
  background-color: #393A51;
  width: 350px;
  height: 325px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.text_pricipale_de_description{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: white;
}

/* Début style FAQ*/
.accordion{

display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;

}

.accordion-container{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.questionsFaq{
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  width: 33.33vw;
}
.accordion-header {
  border-radius: 4px;
  opacity: 0px;
  background-color: #FFFFFF1A;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 370px;
  height: 85px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 10px;
}

.accordion-header:hover {
  background-color: #ddd;
  color: black;
}

.accordion-header i {
  margin-right: 10px;
}

.accordion-content {
  padding: 0 18px;
  background-color: #FFFFFF1A;
  width: 390px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  border-radius: 10px;
}

@media (max-width: 767px) {
.accordion-header {
  font-size: 18px;
}
}

@media (min-width: 768px) {
.accordion-header {
  font-size: 22px;
}
}

/* Fin style FAQ*/
