/* Début style FAQ */
.faq {display: block;
unicode-bidi: isolate;
}
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  margin-left: 2%;
  margin-right: 2%;
  padding: auto;
}

.accordion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Inter;
  width: 100%;
}

.questionsFaq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Alignement centré */
  margin: 0.32rem;
  margin-bottom: 0.48rem;
  box-sizing: border-box;
  flex: 1 0 30%; /* Ajustez la taille pour occuper environ 30% de la largeur du conteneur */
  max-width: 30%; /* Assurez-vous que les éléments ne dépassent pas 30% de la largeur du conteneur */
}

.accordion-header {
  border-radius: 0.25rem; /* 4px / 16px = 0.25rem */
  background-color: #FFFFFF1A;
  color: white;
  cursor: pointer;
  padding: 1.125rem; /* 18px / 16px = 1.125rem */
  width: 100%;
  height: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem; /* 16px / 16px = 1rem */
  transition: 0.4s;
}

.accordion-header:hover {
  background-color: #ddd;
  color: black;
}

.accordion-header i {
  margin-right: 0.625rem; /* 10px / 16px = 0.625rem */
}

.accordion-content {
  padding: 0 1.125rem; /* 0 18px / 16px = 0 1.125rem */
  background-color: #FFFFFF1A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: Inter;
  color: #FFFFFF;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: 600;
  line-height: 1.5rem; /* 24px / 16px = 1.5rem */
  text-align: left;
}

@media (max-width: 767px) {
  .questionsFaq {
    flex: 1 0 100%; /* Occupe toute la largeur sur petits écrans */
    max-width: 100%;
    height: auto; /* Ajuste automatiquement la hauteur */
  }

  .accordion-header {
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  }
}

@media (min-width: 768px) {
  .accordion-header {
    font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  }
}
/* Fin style FAQ */
