.body {
  background-color: #7f98bc;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.images {
  max-width: 5vw;
  max-height: 5vw;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f98bc;
  color: white;
  padding: 10px 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 4vw;
}
