.body {
  background-color: #7f98bc;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f98bc;
  color: white;
  height: 5vh;
  top: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.images {
  max-width: 5vw;
  max-height: 10vh;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 4vw;
}

.nav-link.active{
  text-decoration: underline;
}

.right {
  display: flex;
  gap: 1vw;
}

.languageSelect {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #7f98bc;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  color: #fff;
  text-align: center;
  position: relative;
}

.languageSelect:focus {
  outline: none;
}

.languageSelect option {
  font-size: 18px;
  background-color: #7f98bc;
  color: #fff;
  padding: 10px;
}

.languageSelect-container {
  position: relative;
  display: inline-block;
}

.languageSelect-container::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
}

.languageSelect::-ms-expand {
  display: none;
}
