<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>

    {% block title %} Acceuil {% endblock %}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
