<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
    <title>
        {% block title %}{% endblock %}
    </title>


    <link rel="stylesheet" href="app.css" />
    {% block stylesheets %}
        
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
