<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" type="text/css" href="homePage.CSS">
    </head>

    <body>
        <div class="entete">

            <img class="logo" src="logo.png" alt= "logo"  width="60px" height="60px">
            <button class="boutonNav">Acceuil</button>
            <button class="boutonNav">Recherche</button>
            <button class="boutonNav">FAQ</button>
            <button class="boutonNav">Contact</button>
            <button class="userBoutonNav"> <img src="UserButton.png" width="30px" height="30px" > </button>
            
        </div>

    <div class="acceuil" >
        <div class="bienvenue">

            <p > 
                Bienvenue
            </p>
        </div>

        <div class="nomEventIt">
            <p > 
                Event IT
            </p>
        </div>

        <div class="boutonPlus">
            <button class="boutonPlusHome"> Plus </button>
        </div>

    </div>

      
<div class="englobeCarrousel">
    

    <hr noshade style="
    width: 1216px;
    height: 4px;
    left: 109.5px;
    top: 844.8px;
    
    background: #FFFFFF1A;

    ">

<div class="pourquoiNous">
    <p > 
        Pourquoi nous?
    </p>
</div>
        

    <div class="carousel">
        <div class="slides">
          <div class="slide"><img src="img1.jpg" alt=""></div>
          <div class="slide"><img src="img2.jpg" alt=""></div>
          <div class="slide"><img src="img3.jpg" alt=""></div>
        </div>
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
      </div>
</div>

        
          

        

          <script src="homePage.js"></script>
    </body>


    </html>