{% extends '/public/base.html.twig' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>teste</h1>
<p>{{ 'event_it.teste.hello_world'|trans }} </p>
    <button href="{{  path('users') }}"></button>
{% endblock %}
